/* generics */
h1 {
    font-family: Georgia, 'Times New Roman', Georgia, 'Times New Roman';
    display: inline;
    vertical-align: middle;
    margin-bottom: 5px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    vertical-align: middle;
    margin-bottom: 5px;
    padding:0px;
    
}
img {
    vertical-align: middle;
    margin-bottom: 10px;
}

div{
    background-color: aliceblue;
    margin: auto;
    height: 800px;
    width: 800px;
    border: 400px;
    border-radius: 5px;
}
p{
    display: inline;

    margin-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
span{
    border: black;
   }
.fix-error{
    display: block;
}
/* main */
/* header main  */
.container{
    border: 70px;
    padding: 70px;
    height: 800px;
    background-color: rgb(238, 238, 238);
}
.task{
    margin: 10px 50px;
    margin-right: 5px;
    background-color:#27b5ed;
    border-radius: 5px;
    color: aliceblue;
    border-color:#27b5ed;
}
.section{
    margin-left: 2px;
    background-color: aliceblue;
    border-radius: 5px;
    color: gray;
    border-color: gray;
}
hr{
    background-color: gray;
}

/* main  */
.editorial{
    border-radius: 50px;
}

.triangle{
    display: inline;
    margin-bottom: 4px;
}
.editorial-aqua{
    background-color: #27b5ed;
    border-radius: 50px;
    color: aliceblue;
    border-color: #27b5ed ;
}
.editorial-orange{
    background-color: orange;
    border-radius: 50px;
    border-color: orange;
    color: aliceblue;
}
.editorial-violet{
    background-color: blueviolet;
    border-radius: 50px;
    border-color: blueviolet;
    color: aliceblue;
}
.editorial-green{
    background-color:rgb(12, 184, 141);
    border-radius: 50px;
    border-color: rgb(12, 184, 141);
    color: aliceblue;
}
.editorial-pink{
    background-color:pink;
    border-radius: 50px;
    border-color: pink;
    color: aliceblue;
}
.editorial-greenyellow{
    background-color:rgb(160, 216, 39);
    border-radius: 50px;
    border-color: rgb(160, 216, 39);
    color: aliceblue;
}


.check{
    display: inline;
    height: 50px;
    width: 50px;
    color: green;
    border-radius: 50%;
    border: 2px solid  green;
   
}
.cross{
    display: inline;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid red;
    color: red;
}